<h2 mat-dialog-title *transloco="let b; read:'boardObj' ">{{data.create ? b('create') : b('update')}}</h2>
<mat-dialog-content *transloco="let l; read:'boardObj.label' ">
  <form [formGroup]="form" class="flex direction-col gap-1">
    <mat-form-field appearance="fill">
      <mat-label>{{l('title')}}</mat-label>
      <input formControlName="title" matInput [(ngModel)]="data.board.title">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{l('description')}}</mat-label>
      <input formControlName="description" matInput [(ngModel)]="data.board.description">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions *transloco="let t">
  <button color="warn" mat-button (click)="onNoClick()">{{t('cancel')}}</button>
  <button color="primary" mat-button [mat-dialog-close]="data" [disabled]="form.invalid">{{data.create ? t('create'): t('update')}}</button>
</mat-dialog-actions>
