<app-header-to-component title="{{ 'boardObj.list' | transloco }}"></app-header-to-component>
<div class="boards">
  <div class="search__wrapper">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>{{ 'boardObj.searchLabel' | transloco }}</mat-label>
      <input matInput type="text" [(ngModel)]="str">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="str=''" class="search__button-clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="boards__inner">
    <div class="boards__list" *ngIf="(boards$ | async | search: str) as boards">
      <app-board-preview-card *ngFor="let board of boards" [data]="board"></app-board-preview-card>
    </div>
  </div>
</div>
