<app-header-to-component title="{{ 'boardObj.list' | transloco }}"></app-header-to-component>
<div class="boards">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search task</mat-label>
    <input matInput type="text" [(ngModel)]="str">
    <button *ngIf="str" matSuffix mat-icon-button aria-label="Clear" (click)="str=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="boards__inner">
    <div class="boards__list" *ngIf="(boards$ | async | search) as boards">
      <app-board-preview-card *ngFor="let board of boards" [data]="board"></app-board-preview-card>
    </div>
  </div>
</div>
