@import "adaptive";

.boards {
  padding: 1rem 0;
  &__inner {
    @include contentWidth;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.2rem;
    row-gap: 1.2rem;

    @include breakpoint(sm) {
      grid-template-columns: 1fr;
    }
  }
}
.search {
  &__wrapper {
    text-align: right;
    @include contentWidth;
  }
}
