.app-sidenav {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-top: 1.5rem;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
