.card {
  display: grid;
  grid-template-columns: 2rem auto;
  column-gap: 1rem;
  cursor: pointer;
  user-select: none;
  &__icon {
    display: flex;
    align-items: center;
    mat-icon {
      transform: scale(1.2);
    }
  }
  &__info {
  }
  &__title {
    margin: 0;
    font-size: 0.9rem;
  }
  &__description {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
  }
}
