.header {
  height: 60px;
  transition: height 0.3s background-color 0.4s;

  &--sticky {
    height: 50px;
    background-color: #ff4081;
  }
  &__burger {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &__links {
    display: flex;
    flex: 0 1 300px;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
  }

  &__toggle {
    margin-left: auto;
  }

  &__home-link {
    color: #fff;
  }
}
