<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Burger menu" class="header__burger">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Project Management App</span>
  <div class="header__links">
    <ng-container *ngIf="isAuth$ | async; else loginLinks">
      <button mat-raised-button aria-label="Create new board">
        New Board
      </button>
      <button mat-raised-button aria-label="Logout" (click)="logout()">
        Logout
      </button>
      <app-route-link linkPath="profile">
        <mat-icon>person</mat-icon>
      </app-route-link>
    </ng-container>
    <mat-slide-toggle>{{currentLang}}</mat-slide-toggle>
  </div>
</mat-toolbar>

<ng-template #loginLinks>
  <app-route-link linkPath="auth" linkText="Login"></app-route-link>
      <app-route-link linkPath="auth/signup" linkText="SignUp"></app-route-link>
</ng-template>
