<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Burger menu" class="header__burger">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Project Management App</span>
  <div class="header__links">
    <app-route-link *ngIf="!isAuth" linkPath="signin" linkText="SignIn"></app-route-link>
    <app-route-link *ngIf="!isAuth" linkPath="signup" linkText="SignUp"></app-route-link>
    <button *ngIf="isAuth" mat-raised-button aria-label="Create new board">
      New Board
    </button>
    <button *ngIf="isAuth" mat-raised-button aria-label="Logout">
      Logout
    </button>
    <app-route-link *ngIf="isAuth" linkPath="profile">
      <mat-icon>person</mat-icon>
    </app-route-link>
    <mat-slide-toggle>{{currentLang}}</mat-slide-toggle>
  </div>
</mat-toolbar>
