<div class="column">
  <div class="column__header">
    <h2>{{ columnData.title }}</h2>
    <div [matMenuTriggerFor]="menu" class="btn-hover" matRipple>
      <mat-icon>more_horiz</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <button (click)="editColumn.emit(columnData)" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button appOpenModal (callbackAfterClose)="deleteColumn.emit(columnData)" deleteEntity="column" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>{{'delete' | transloco}}</span>
      </button>
    </mat-menu>

  </div>
  <div
    cdkDropList
    [id]="'column-' + columnData.indexId"
    [cdkDropListConnectedTo]="columnData.otherColumns"
    [cdkDropListData]="columnData.tasks"
    class="column__list"
    (cdkDropListDropped)="dropTask($event)">
    <div
      class="column__card"
      *ngFor="let task of columnData.tasks"
      cdkDrag
      appLongPress
      (cdkDragStarted)="lockLongPress = true;"
      (cdkDragEnded)="lockLongPress = false;"
      (longPress)="openActionsPopup(menuTrigger)"
      matRipple
    >
      <app-board-card [taskData]="task"></app-board-card>
      <div #menuTrigger="matMenuTrigger"  [matMenuTriggerFor]="taskMenu" class="column__card__trigger"></div>
    </div>
  </div>
  <div class="column__add-card btn-hover" matRipple (click)="createTask.emit(columnData)">
    <mat-icon>add</mat-icon>
    <span>{{'boardObj.addTask' | transloco}}</span>
  </div>
</div>
<mat-menu #taskMenu="matMenu" class="menu" yPosition="below" xPosition="before">
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>{{'edit' | transloco}}</span>
  </button>
  <button mat-menu-item appOpenModal deleteEntity="task">
    <mat-icon>delete</mat-icon>
    <span>{{'delete' | transloco}}</span>
  </button>
</mat-menu>
