<app-header-to-component [title]="'Board ' + 'test'"></app-header-to-component>
<div class="board">
  <div class="board__inner">
    <div cdkDropList cdkDropListOrientation="horizontal" class="board__columns" (cdkDropListDropped)="dropColumn($event)">
      <div class="board__column" *ngFor="let column of columns; index as i" cdkDrag>
        <app-board-column
          [columnData]="getColumnData(i, column)"
          (dropTaskEvent)="dropTask($event)"
        ></app-board-column>
      </div>
    </div>

  </div>
</div>
