.app {
  &-notifications {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    padding-bottom: 8rem;
    padding-right: 1.5rem;
    width: 360px;
    z-index: 999;
  }

  &-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-main {
    max-height: calc(100% - 140px);
    display: flex;
    flex: 1 1 auto;
  }
}

.position-sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
