<mat-card appLongPress (longPress)="openActionsPopup(menuTrigger)" class="card" matRipple>
  <div class="card__icon">
    <mat-icon>bolt</mat-icon>
  </div>
  <div class="card__info">
    <h2 class="card__title">{{ data.title }}</h2>
    <div #menuTrigger="matMenuTrigger"  [matMenuTriggerFor]="menu" class="card__trigger"></div>
    <app-route-link linkPath="{{ data.id }}" linkText="to Board"></app-route-link>
  </div>
</mat-card>
<mat-menu #menu="matMenu" class="menu" yPosition="below" xPosition="before">
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
